.container {
  max-width: 1155px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
}

.container > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container > footer > div {
  display: flex;
  gap: 4px;
  justify-content: center;
  font-size: 14px;
  width: 100%;
  padding-bottom: 1rem;
}

.info {
  margin-top: 2rem;
  margin-left: 5rem;
  gap: 2rem;
  display: flex;
  align-items: center;
}

.icon {
  width: 5rem;
  height: 5rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}