.currentWeather {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 10rem;
  margin-left: -10px;
  margin-bottom: -1rem;
}

.currentWeather > main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 10rem;
}

.temperatureUnit {
  position: absolute;
  right: 20rem;
  font-size: 3rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
}

.temperatureButton {
  all: unset;
  cursor: pointer;
  opacity: 50%;
  font-size: 2.25rem;
}

.temperatureButtonSelected {
  all: unset;
  cursor: pointer;
}