.hourlyCards {
  margin: 1rem;
  display: flex;
  overflow: auto;
}

.dailyCards {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cardsHeading {
  padding-left: 1rem;
}

.cardRow {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.dailyCard {
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 8rem;
  cursor: pointer;
}

.hourlyCard {
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 8rem;
}

.dailyCard:hover, .hourlyCard:hover {
  background: rgb(250, 1250, 250, 0.2);
}

header {
  padding-top: 1rem;
}

main {
  width: 8rem;
  margin-left: -10px;
}

.temperature {
  padding-bottom: 0.25rem;
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.temperature > .maximum {
  font-size: 1.75rem;
}

.temperature > .minimum {
  color: rgb(209, 213, 219);
  font-size: 1rem;
}

.weatherInfo {
  font-size: 14px;
  padding-bottom: 1rem;
}

